
@{
    ViewBag.Title = "Manage Other Expense";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="loadingGif"></div>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            @*<button class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#transferModel" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span> ប្រភេទចំណាយ</button>*@
            <button onclick="ClickAddnewTransfer()" class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#transferModel" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> បង្កើតថ្មី</button>
            <h5 class="modal-title">Manage Transfer</h5>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-inline">
                        <label for="displayshowroom">ជ្រើសរើសសាខា:</label>
                        <select class="form-control" id="displayshowroom">
                            <option>---Select Showroom----</option>
                            @foreach (var depart in Model.Showrooms)
                            {
                                <option value="@depart.id">@depart.name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row" style="overflow:auto">
                <div class="col-md-12">
                    <table id="tableTransfer" class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                @*<th>ID</th>*@
                                <th>ថ្ងៃខែ</th>
                                @*<th>ប្រភេទទំនិញ</th>*@
                                <th>ចំនួនប្រាក់</th>
                                <td>បរិយាយ</td>
                                @*<th>សាខា</th>*@
                                @*<th>ស្ថានភាព</th>*@
                                <th>សកម្មភាព</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        

    </div>
</div>



@Html.Partial("_Transfer")
@section scripts
{
    
    @Scripts.Render("~/Scripts/Functions/transfer.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}
