<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        @*-fluid*@
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("រ៉ូសឡានីអាផាតម៉ិន", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("MANAGE BOOKING"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">តម្លើង <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Room")">បន្ទប់</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Staff")">បុគ្គលិក</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Guest")">ភ្ញៀវ</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Item")">សម្ភារៈប្រើប្រាស់</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "BeginingBalance")">តម្លៃទឺក ភ្លើង</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Salary")">ប្រាក់ខែបុគ្គលិក</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ប្រត្តិបត្តការណ៍ <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Booking")">កក់</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "CheckIn")">ចូលស្នាក់នៅ</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "CheckOut")">ចាកចេញ</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Invoice")">បង់ប្រាក់ប្រចាំខែ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">គណនេយ្យ <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "UserUse")">ចំណូល</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "OtherExpense")">ចំណាយ</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">របាយការណ៍ <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li>@Html.ActionLink("-បុគ្គលិក", "", "staff-list")</li>
                                <li>@Html.ActionLink("-ភ្ញៀវ", "", "guest-list")</li>
                                <li>@Html.ActionLink("-បន្ទប់", "", "room-list")</li>
                                <li>@Html.ActionLink("-សម្ភារៈប្រើប្រាស់", "", "item-list")</li>
                                <li>@Html.ActionLink("-អ្នកប្រើប្រាស់", "", "")</li>
                                <li>@Html.ActionLink("-វិក័យបត្រ", "", "")</li>
                                <li>@Html.ActionLink("-ចំណាយប្រចាំខែ", "", "invoice-report")</li>
                               
                            </ul>
                        </li>
                    }
                    if (User.IsInRole("MANAGE USER"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                គ្រប់គ្រង់អ្នកប្រើប្រាស់ <span class="glyphicon glyphicon-menu-down">
                               </span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("អ្នកប្រើប្រាស់", "Index", "UserRoles")</li>
                                <li>@Html.ActionLink("បង្កើតថ្មី", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            </ul>
                        </li>                
                    }
                 }
            </ul>

            @Html.Partial("_LoginPartial")

        </div>
    </div>
</div>
