<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        @*-fluid*@
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink(@Resources.Content.RL, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (Request.IsAuthenticated)
                {
                    if (User.IsInRole("Manage Setup"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Content.SetUp <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Room")">@Resources.Content.Room</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Staff")">@Resources.Content.Staff</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Guest")">@Resources.Content.Guest</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Item")">@Resources.Content.Item</a>
                                </li> 
                            </ul>
                        </li>
                    }
                    if (User.IsInRole("Manage Process"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Content.Proccess <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Booking")">@Resources.Content.Booking</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "CheckIn")">@Resources.Content.CheckIn</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "CheckOut")">@Resources.Content.CheckOut</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "Invoice")">@Resources.Content.Payment</a>
                                </li>
                            </ul>
                        </li>
                    }
                    if (User.IsInRole("Manage Balance"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Content.Account <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "OtherExpense")">@Resources.Content.Expense</a>
                                </li>
                                <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                                    <a href="@Url.Action("Index", "PaySlip")">@Resources.Content.PaySlip</a>
                                </li>
                            </ul>
                        </li>
                    }
                    if (User.IsInRole("Manage Report"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@Resources.Content.Report <span class="glyphicon glyphicon-menu-down"></span></a>
                            <ul class="dropdown-menu animate slideIn">
                                <li><b>@Resources.Content.SetUp</b></li>
                                <li>@Html.ActionLink("-"+Resources.Content.Staff, "", "staff-list")</li>
                                <li>@Html.ActionLink("-"+Resources.Content.Guest, "", "guest-list")</li>
                                <li>@Html.ActionLink("-"+Resources.Content.Room, "", "room-list")</li>
                                <li>@Html.ActionLink("-"+Resources.Content.Item, "", "item-list")</li>
                                @*<li>@Html.ActionLink("-"+Resources.Content.User, "", "user-list")</li>*@
                                <li><b>@Resources.Content.Proccess</b></li>
                                <li>@Html.ActionLink("-"+Resources.Content.Booking, "", "bookinglist-rpt")</li>
                                <li>@Html.ActionLink("-"+Resources.Content.CheckIn, "", "checkinlist-rpt")</li>
                                <li>@Html.ActionLink("-"+Resources.Content.CheckOut, "", "checkoutlist-rpt")</li>
                                <li>@Html.ActionLink("-"+Resources.Content.PaySlip, "", "paysliplist-rpt")</li>
                                <li>@Html.ActionLink("-"+Resources.Content.Payment, "", "invoicelist-rpt")</li>
                                <li><b>@Resources.Content.Account</b></li>
                                <li>@Html.ActionLink("-" + Resources.Content.Expense, "", "otherexpenselist-rpt")</li>
                                <li>@Html.ActionLink("-" + Resources.Content.Income, "", "incomelist-rpt")</li>
                            </ul>
                        </li>
                    }
                    if (User.IsInRole("Manage User") || User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                @Resources.Content.User <span class="glyphicon glyphicon-menu-down">
                               </span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink(Resources.Content.User, "Index", "UserRoles")</li>
                                <li>@Html.ActionLink(Resources.Content.NewUser, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            </ul>
                        </li>                
                    }
                 }
            </ul>

            @Html.Partial("_LoginPartial")

        </div>
    </div>
</div>
