
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="RoomItemModal" tabindex="-1" role="dialog" aria-labelledby="RoomItemModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" onclick="OnCloseRoomItem()" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-center" style="color: darkblue;"><b >@Resources.Content.AddItemToRoom</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input id="roomitemid" name="roomitemid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="iroomid">@Resources.Content.RoomNo</label>
                            <select class="form-control input-sm" id="iroomid">
                                <option value="0">------Please Choose Room------</option>
                                @foreach (var room in Model.Rooms)
                                {
                                    <option value=@room.id>@room.room_no</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="itemid">@Resources.Content.Item</label>
                            <select class="form-control input-sm" id="itemid">
                                <option value="0">------Please Choose Item------</option>
                                @foreach (var item in Model.Items)
                                {
                                    <option value=@item.id>@item.itemname</option>
                                }
                            </select>
                        </div>
                       
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="iprice">@Resources.Content.Price</label>
                            <input id="iprice" name="iprice" placeholder="$0.00" onfocus="this.select();" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <label>&nbsp;</label>
                        <button type="button" id="btnSaveRoomItem" name="btnSaveRoomItem" onclick="RoomItmAction()" class="btn btn-info btn-block btn-sm">Add New</button>
                    </div>
                </div>
                
                <hr />
                <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tblRoomItem">
                    <thead>
                        <tr>
                            <th>@Resources.Content.No</th>
                            <th>@Resources.Content.RoomNo</th>
                            <th>@Resources.Content.Item</th>
                            <th>@Resources.Content.Price</th>
                            <th style="width:15px">@Resources.Content.Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


