<div class="modal fade " data-backdrop="static" data-keyboard="false" id="CheckInNowModal" tabindex="-1" role="dialog" aria-labelledby="CheckInNowModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button"  class="btn btn-danger btn-xs pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-center" style="color: darkblue;"><b>@Resources.Content.CheckIn</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="id" name="id" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <input id="roomid" name="roomid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="guestid" name="guestid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="waterid" name="waterid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="electricid" name="electricid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="checkinid" name="checkinid" type="text" style="display: none;" value="" class="form-control" />
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="namekh">@Resources.Content.NameKh</label>
                                    <input id="namekh" name="namekh" placeholder="Enter Guest Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%;font-family:'Khmer OS Battambang'" />
                                </div>
                                <div class="form-group">
                                    <label for="name">@Resources.Content.Name</label>
                                    <input id="name" name="name" placeholder="Enter Guest Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                        
                                <div class="form-group">
                                    <label for="gsex">@Resources.Content.Sex</label>
                                    <select class="form-control input-sm" id="gsex">
                                        <option value="Male">@Resources.Content.Male</option>
                                        <option value="Female">@Resources.Content.Female</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="dob">@Resources.Content.DOB</label>
                                    <input id="dob" name="dob" type="date" value="" class="form-control input-sm" placeholder="Choose Datetime" />
                                </div>
                                <div class="form-group">
                                    <label for="addr">@Resources.Content.Address</label>
                                    <input id="addr" name="addr" placeholder="Enter Address" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-12">
                                <input id="datenow" name="datenow" style="display: none;" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" />
                                <div class="form-group">
                                    <label for="national">@Resources.Content.Nationality</label>
                                    <input id="national" name="national" placeholder="Enter Nationality" type="text" value="Khmer" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="phone">@Resources.Content.Phone</label>
                                    <input id="phone" name="phone" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="gemail">@Resources.Content.Email</label>
                                    <input id="gemail" name="gemail" placeholder="Enter Email" type="email" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="gssn">@Resources.Content.SSN</label>
                                    <input id="gssn" name="ssn" placeholder="Enter Social Security Number" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="gpassport">@Resources.Content.Passport</label>
                                    <input id="gpassport" name="passport" placeholder="Enter Passport Number" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="frmbookroomid">@Resources.Content.RoomNo</label>
                                    <select class="form-control input-sm" id="chnowroomid" disabled>
                                        @foreach (var room in Model.ListRoomFree)
                                        {
                                            <option value=@room.id>@room.room_no</option>
                                        }
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="roomprices">@Resources.Content.RoomPrice</label>
                                            <input id="roomprices" name="roomprices" readonly="readonly" onfocus="this.select();" placeholder="Enter number of man" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="payforrooms">@Resources.Content.PayForRoom</label>
                                            <input id="payforrooms" name="payforrooms" onfocus="this.select();" readonly="readonly" placeholder="Enter current number" value="0" type="number" class="form-control input-sm">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="paydollar">@Resources.Content.PayDollar</label>
                                            <input id="paydollar" name="paydollar"  onfocus="this.select();" placeholder="Enter number of man" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="payriel">@Resources.Content.PayRiel</label>
                                            <input id="payriel" name="payriel" onfocus="this.select();" placeholder="Enter current number" value="0" type="number" class="form-control input-sm">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <input id="checkindate"  name="checkindate" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" style="min-width: 100%"/>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="estartrecords">@Resources.Content.ElectricStartRecord</label>
                                            <input id="estartrecords" name="estartrecords" onfocus="this.select();" placeholder="Enter current number" value="0" type="number" class="form-control input-sm">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" for="wstartrecords">@Resources.Content.WaterStartRecord</label>
                                            <input id="wstartrecords" name="wstartrecords" onfocus="this.select();" placeholder="Enter current number" value="0" type="number" class="form-control input-sm">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="numman">@Resources.Content.Man</label>
                                            <input id="numman" name="numman" onfocus="this.select();" placeholder="Enter number of man" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="numwomen">@Resources.Content.Woman</label>
                                            <input id="numwomen" name="numwomen" onfocus="this.select();" placeholder="Enter number of women" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="numchild">@Resources.Content.Child</label>
                                            <input id="numchild" name="numchild" onfocus="this.select();" placeholder="Enter number of child" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">              
                <button type="button" id="btnCheckOut" onclick="Test();" data-dismiss="modal" class="btn btn-danger btn-sm" style="margin-left:10px;width:100px">@Resources.Content.Cancel</button>
                <button type="button" id="btnSaveCheckIn" onclick="OnSaveCheckInNow()" class="btn btn-info btn-sm" style="margin-left:10px;width:100px">@Resources.Content.Save</button>
            </div>
        </div>
    </div>
</div>

<script>

    function OnSaveCheckInNow() {
        var data = new FormData();
        data.append("name", $("#name").val());
        data.append("namekh", $("#namekh").val());
        data.append("sex", $("#gsex").val());
        data.append("dob", $("#dob").val());
        data.append("address", $("#addr").val());
        data.append("nationality", $("#national").val());
        data.append("phone", $("#phone").val());
        data.append("email", $("#gemail").val());
        data.append("ssn", $("#gssn").val());
        data.append("passport", $("#gpassport").val());
        data.append("status", 'CHECK-IN');
        $.ajax({
            type: "POST",
            url: "/api/guests",
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                CheckInNow(result);
                InsertWEUsage(result);
                $('#guestid').val(result);
            },
            error: function (error) {
                //console.log(error);
                toastr.error("Please check all selected field!.", "Server Response");
            }
        });

    }

    function CheckInNow(gid) {
        var data = {
            roomid: $('#chnowroomid').val(),
            guestid: gid,
            child: $('#numchild').val(),
            man: $('#numman').val(),
            women: $('#numwomen').val(),
            payforroom: $('#payforrooms').val(),
            paydollar: $('#paydollar').val(),
            payriel: $('#payriel').val(),
        };
        $.ajax({
            url: "/api/checkins",
            data: JSON.stringify(data),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                UpdateRoomStatus();
            },
            error: function (errormesage) {
                toastr.error("This Name Guest is exist in Database", "Server Respond");
                return false;
            }
        });
    }




    function InsertWEUsage(id) {

        var data = new FormData();
        data.append("guestid", id);
        data.append("startdate", $('#checkindate').val());
        data.append("enddate", $('#checkindate').val());
        data.append("wstartrecord", $('#wstartrecords').val());
        data.append("wendrecord", $('#wstartrecords').val());
        data.append("estartrecord", $('#estartrecords').val());
        data.append("eendrecord", $('#estartrecords').val());
        $.ajax({
            type: "POST",
            url: "/api/waterelectricusages",
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                toastr.success("Check In successfully.", "Server Response");
                window.location.reload(true);
            },
            error: function (errormesage) {
                toastr.error("Electric usage insert faild!", "Server Respond");
                return false;
            }
        });
    }

    function UpdateRoomStatus() {
        $.ajax({
            type: "PUT",
            url: "/api/updateroomstatus/" + $("#chnowroomid").val() + "/CHECK-IN",
            contentType: false,
            processData: false,
            // data: status,
            success: function (result) {
                //toastr.success("Room Status has been Update successfully.", "Server Response");
            },
            error: function (error) {
                toastr.error("Update room status fail!", "Server Response");
            }
        });
    }


</script>