
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="RoomTypeModal" tabindex="-1" role="dialog" aria-labelledby="RoomTypeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-center" style="color: darkblue;"><b >@Resources.Content.ManageRoomType</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input id="RoomTypeid" name="RoomTypeid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />

                        <div class="form-group">
                            <label for="roomtype">@Resources.Content.Name</label>
                            <input id="roomtypename" name="roomtypename" placeholder="Enter Room Type" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input id="RoomTypeid" name="RoomTypeid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />

                        <div class="form-group">
                            <label for="roomtype">@Resources.Content.NameKh</label>
                            <input id="roomtypenamekh" name="roomtypenamekh" placeholder="Enter Room Type" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>

                </div>
                <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="note">@Resources.Content.Note</label>
                                <textarea name="note" id="note" rows="1" style="min-width:100%; max-width:100%" class="form-control input-sm" value=""></textarea>
                            </div>
                        </div>
                   
                </div>

                <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnSaveRoomType" onclick="RoomTypeAction()" class="btn btn-info btn-block btn-sm">Add New</button>
                        </div>
                    
                </div>
                <hr />
                <div class="row">
                        <div class="col-md-12">
                            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tableRoomType">
                                <thead>
                                    <tr>
                                        <th>@Resources.Content.No</th>
                                        <th>@Resources.Content.Name</th>
                                        <th>@Resources.Content.NameKh</th>
                                        <th>@Resources.Content.Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                   
                </div>
            </div>
        </div>

    </div>
</div>



