
<div class="modal fade " data-backdrop="static" data-keyboard="false" id="RoomDetailModal" tabindex="-1" role="dialog" aria-labelledby="RoomDetailModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" id="btnCloseRoomDetail" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" onclick="OnCloseRoomDetail()">បិទ</button>
                <b class="modal-title" style="color: darkblue;">Room</b>
                <b class="modal-title" style="color: darkblue;" id="lblRoomNo"></b>
                <b class="modal-title" style="color: darkblue;" id="lblRoomStatus"></b>
                <b class="modal-title" style="color: darkblue;display:none" id="lblRoomId"></b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="RoomDetailid" name="RoomDetailid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <input id="roomid" name="roomid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <input id="guestid" name="guestid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <input id="bookingid" name="bookingid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h5><b>Room</b></h5>
                                    </div>
                                    <div class="col-md-8">
                                        <hr />
                                    </div>
                                    @*<div class="col-md-2">
                                        <button OnClick='OnEditRoom' class='btn btn-warning btn-xs' style='margin-right:5px'>Edit</button>
                                    </div>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <ul class="list-group" id="listroom">
                                            <li class="list-group-item">
                                                <span class="badge" id="rmno"></span>
                                               Room No
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge" id="roomtype"></span>
                                                Room Type
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge" id="flno"></span>
                                                Floor No
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <span class="badge" id="sc"></span>
                                                Service Charge
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge" id="roomprice"></span>
                                                Room Price
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge" id="rmky"></span>
                                                Room Key
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h5><b>Item</b></h5>
                                    </div>
                                    <div class="col-md-8">
                                        <hr />
                                    </div>
                                    @*<div class="col-md-2">
                                        <button OnClick='OnEditRoom' class='btn btn-warning btn-xs' style='margin-right:5px'>Edit</button>
                                    </div>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul id="itlist" class="list-group"></ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-6"> 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <h5><b>Guest</b></h5>
                                    </div>
                                    <div class="col-md-8">
                                        <hr />
                                    </div>
                                    @*<div class="col-md-2">
                                        <button OnClick='OnEditRoom' class='btn btn-warning btn-xs' style='margin-right:5px'>Edit</button>
                                    </div>*@
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="list-group" id="guestlist">
                                           @*code in index*@
                                        </ul>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnBlock" onclick="OnBlockAction()" class="btn btn-danger btn-sm pull-right" style="margin-left:10px;width:100px">Block</button>
                    <button type="button" id="btnCheckOut" onclick="OnCheckOutAction()" class="btn btn-warning btn-sm pull-right" style="margin-left:10px;width:100px">Check Out</button>
                    <button type="button" id="btnCheckIn" onclick="OnCheckInAction()" class="btn btn-primary btn-sm pull-right" style="margin-left:10px;width:100px">Check In Now</button>
                    <button type="button" id="btnPayment" onclick="OnPaymentAction()" data-toggle="modal" data-target="#PaymentModal" class="btn btn-info btn-sm pull-right" style="margin-left:10px;width:100px">Payment</button>           
                    <button type="button" id="btnBook" onclick="OnBookAction()" data-toggle="modal" data-target="#BookModal" class="btn btn-success  btn-sm pull-right" style="margin-left:10px;width:100px">Book</button>

                </div>
            </div>
            
        </div>
    </div>
</div>

@Html.Partial("_Book")
@Html.Partial("_Block")
@Html.Partial("_CheckIn")
@Html.Partial("_CheckInNow")
@Html.Partial("_Payment")
<script>
    
    function OnCloseRoomDetail() {
        window.location.reload(true);
    }
    function OnBookAction() {
        var rmid = document.getElementById('lblRoomId').innerText;
        $("#RoomDetailModal").modal('hide');
        $("#frmbookroomid").val(rmid);
        $("#bookroomid").val(rmid);

        ///get bookingno 
        $.get("/api/bookinginvoiceno", function (data) {

            $('#bookingno').val(data);
        });

        document.getElementById('frmbookroomid').disabled = true;
        document.getElementById('bookingno').disabled = true;

        var roomid = document.getElementById('lblRoomId').innerText;

        $("#lblidroom").text(roomid);
    }
    
    function OnCheckInAction() {
        var btncheckin = document.getElementById('btnCheckIn').innerText;
        var rmid = document.getElementById('roomid');
        var rmname = document.getElementById('lblRoomNo').innerText;
        var guestid = document.getElementById('guestid');
        if (btncheckin == "Check In Now") {
            $("#CheckInNowModal").modal("show");
            $("#chnowroomid").val(rmid.value);

            $.get("/api/invoicemaxid", function (data) {
                $('#invoiceno').val(data);
            });

            $.get("/api/ExchangeRates/1/2", function (data) {
                $("#exid").val(data.id);
                $("#examount").text(data.rate);
                $("#roomidchin").val(rmid);               
            });
            //alert('hello');
        } else {
            
            $("#checkinroomid").val(rmid.value);
            $("#guestidchin").val(guestid);
            $("#lblRoomNoCehckIn").text(rmname);

            $.get("/api/WaterPoserPrice/1/2", function (data) {
                $("#wpid").val(data.id);
                $("#wprice").text(data.waterprice);
                $("#pprice").text(data.powerprice);
            });
            $.get("/api/invoicemaxid", function (data) {
                $('#invno').val(data);
            });
            $("#CheckInModal").modal("show");
        }
    }
    function OnCheckOutAction() {
        var checkoutbtn = document.getElementById('btnCheckOut').innerText;
        if (checkoutbtn == "Cancel Booking") {
            bootbox.confirm({
                title: "",
                message: "Are you sure want to cancel booking this room?",
                button: {
                    cancel: {
                        label: "Cancel",
                        ClassName: "btn-default",
                    },
                    confirm: {
                        label: "Delete",
                        ClassName: "btn-danger"
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "PUT",
                            url: "/api/bookingstatus/" + $("#bookingid").val() + "/cancel",
                            contentType: false,
                            processData: false,
                            // data: status,
                            success: function (result) {
                                toastr.success("Booking has been cancel successfully.", "Server Response");
                                $("#RoomDetailModal").modal("hide");
                            },
                            error: function (error) {
                                toastr.error("Unblock room fail!", "Server Response");
                            }
                        });

                        $.ajax({
                            type: "PUT",
                            url: "/api/updateroomstatus/" + $("#roomid").val() + "/FREE",
                            contentType: false,
                            processData: false,
                            // data: status,
                            success: function (result) {
                                //toastr.success("Room has been unblock successfully.", "Server Response");
                                $("#RoomDetailModal").modal("hide");
                               //window.location.reload(true);
                            },
                            error: function (error) {
                                toastr.error("Unblock room fail!", "Server Response");
                            }
                        });

                        window.location.reload(true);
                    }
                }
            });
        } else {

            bootbox.confirm({
                title: "",
                message: "Are you sure want to check out this room?",
                button: {
                    cancel: {
                        label: "Cancel",
                        ClassName: "btn-default",
                    },
                    confirm: {
                        label: "Delete",
                        ClassName: "btn-danger"
                    }
                },
                callback: function (result) {
                    if (result) {
                        var rmid = document.getElementById('roomid');
                        var rmname = document.getElementById('lblRoomNo').innerText;
                        $("#roomidblock").val(rmid.value);
                        $("#lblRoomNoBlock").text(rmname);

                        $.ajax({
                            type: "PUT",
                            url: "/api/updateroomstatus/" + $("#roomid").val() + "/FREE",
                            contentType: false,
                            processData: false,
                            // data: status,
                            success: function (result) {
                                toastr.success("Room has been unblock successfully.", "Server Response");
                                $("#RoomDetailModal").modal("hide");
                                window.location.reload(true);
                            },
                            error: function (error) {
                                toastr.error("Unblock room fail!", "Server Response");
                            }
                        });
                    }
                }
            });
        }
    }
    //function OnCheckOutAction() {
    //    var rmid = document.getElementById('roomid');
    //    var rmname = document.getElementById('lblRoomNo').innerText;
    //    $("#roomidblock").val(rmid.value);
    //    $("#lblRoomNoBlock").text(rmname);

    //    $.ajax({
    //        type: "PUT",
    //        url: "/api/updateroomstatus/" + $("#roomid").val() + "/FREE",
    //        contentType: false,
    //        processData: false,
    //        // data: status,
    //        success: function (result) {
    //            toastr.success("Room has been unblock successfully.", "Server Response");
    //            $("#RoomDetailModal").modal("hide");
    //            window.location.reload(true);
    //        },
    //        error: function (error) {
    //            toastr.error("Unblock room fail!", "Server Response");
    //        }
    //    });
    //}
    function OnBlockAction() {
        var rmid = document.getElementById('roomid');
        var rmname = document.getElementById('lblRoomNo').innerText;
        $("#roomidblock").val(rmid.value);
        $("#lblRoomNoBlock").text(rmname);
        var btnblock = document.getElementById('btnBlock').innerText;
        var stts;
        if (btnblock == "Block") {
            stts="BLOCK"
        } else {
            stts="FREE"
        }

        $.ajax({
            type: "PUT",
            url: "/api/updateroomstatus/" + $("#roomid").val() + "/"+stts,
            contentType: false,
            processData: false,
            // data: status,
            success: function (result) {
                toastr.success("Room has been unblock successfully.", "Server Response");
                $("#RoomDetailModal").modal("hide");
                window.location.reload(true);
            },
            error: function (error) {
                toastr.error("Unblock room fail!", "Server Response");
            }
        });
    }
</script>


