@using SCHOOL_MANAGEMENT_SYSTEM.ViewModels
    @{
        ViewBag.Title = "Manage Room";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div class="container-fluid" >
    <div class="pos_relative ">
        <div class="row">
            <div class="col-md-12">
                <span class="label label-info">Total Room @Model.TotalRoom</span>
                <span class="label label-primary">Free @Model.TotalFree</span>
                <span class="label label-success">Booking @Model.TotalBook</span>
                <span class="label label-warning">Chek In @Model.TotalCheckIn</span>
                <span class="label label-danger">Block @Model.TotalBlock</span>

                <a href="#" class="btn btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#FloorModal" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> Manage Floor</a>
                <a href="#" class="btn btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#RoomTypeModal" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> Manage Room Type</a>
                <a href="#" class="btn btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#RoomModal" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> Manage Room</a>
                <a href="#" class="btn btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#RoomItemModal" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> Add Item To Room</a>
             </div>
        </div>
        
        <div class="row">
            @{ string c = "";}
            @foreach (var item in Model.Rooms)
            {
                if (item.status == "FREE")
                {
                    c = "btn-block btn btn-primary";
                }
                else if (item.status == "BLOCK")
                {
                    c = "btn-block btn btn-danger";
                }
                else if (item.status == "CHECK-IN")
                {
                    c = "btn-block btn btn-warning";
                }
                else if (item.status == "BOOK")
                {
                    c = "btn-block btn btn-success";
                }

                var b = @item.id;
                <div class="col-md-1 col-lg-1 col-xl-1">
                    <button onclick='OnClickRoom(@b)' type="button" class="@c"  style="height:60px;margin-bottom:20px;margin-top:10px" id="btnRoom'+@b+'"><span style="font-weight:bold" >@item.room_no</span></button>
                </div>
                
            }
            <div class="col-md-1 col-lg-1 col-xl-1">
                <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#RoomModal" style="height:60px;margin-bottom:20px;margin-top:10px"><span class="glyphicon glyphicon-plus " style="color:gray"></span></button>
            </div>
            <br />
        </div>
        
    </div>
</div>
    
@Html.Partial("_Floor")
@Html.Partial("_RoomType")
@Html.Partial("_Room")
@Html.Partial("_RoomDetail")
@Html.Partial("_Building")
@Html.Partial("_AddRoomItem")


          

@section scripts{
    @Scripts.Render("~/Scripts/Functions/floor.js")
    @Scripts.Render("~/Scripts/Functions/roomtypes.js")
    @Scripts.Render("~/Scripts/Functions/building.js")
    @Scripts.Render("~/Scripts/Functions/room.js")
    @Scripts.Render("~/Scripts/Functions/roomitems.js")
    @Scripts.Render("~/Scripts/Functions/checkinnow.js")

    @Scripts.Render("~/Scripts/moment.min.js")
}


<script>

    function OnClickRoom(b) {
        $("#RoomDetailModal").modal('show');
        $("#roomid").val(b);

        //Get Item
        $.ajax({
            url: "/api/roomdetails_v/" + b,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            datatype: "json",
            success: function (result) {
                $.each(result, function (key, value) {
                    $('#itlist').append("<li class='list-group-item'>" + "<span class='badge'>1</span>" + value.itemnamekh + " " + value.itemname + "</li>");
                });
            },
            error: function (errormessage) {
                toastr.error("No Record Select!", "Service Response");
            }
        });

        $.ajax({
            url: "/api/rooms/" + b,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            datatype: "json",
            success: function (result) {
                $("#lblRoomNo").text("Room "+result.room_no+" "+result.status);
                $("#rmno").text(result.room_no);
                $("#roomid").text(result.id);
                $("#roomtype").text(result.roomtypename);
                $("#flno").text(result.floorno);
                $("#sc").text(result.servicecharge + '$');
                $("#roomprice").text(result.price + '$');
                $("#rmky").text(result.roomkey);
                $("#roomstatus").text(result.status);

                if (result.status == "BOOK") {
                    document.getElementById('btnBook').style.display = "none";
                    document.getElementById('btnPayment').style.display = "none";
                    document.getElementById('btnBlock').style.display = "none";
                    document.getElementById('btnCheckOut').innerText = "Cancel Booking";
                    document.getElementById('btnCheckIn').innerText = "Check In";

                    book(b);
                } else if (result.status == "BLOCK") {
                    document.getElementById('btnBook').style.display = "none";
                    document.getElementById('btnCheckOut').style.display = "none";
                    document.getElementById('btnCheckIn').style.display = "none";
                    document.getElementById('btnPayment').style.display = "none";
                    document.getElementById('btnBlock').innerText = "Unblock";

                } else if (result.status == "FREE") {
                    document.getElementById('btnCheckOut').style.display = "none";
                    document.getElementById('btnPayment').style.display = "none";
                    //document.getElementById('btnCheckIn').style.display = "none";
                } else if (result.status == "BLOCK") {
                    document.getElementById('btnBook').style.display = "none";
                }
                else if (result.status == "CHECK-IN") {
                    checkin(b);
                    document.getElementById('btnBlock').style.display = "none";
                    document.getElementById('btnBook').style.display = "none";
                    document.getElementById('btnCheckIn').style.display = "none";
                }

            },
            error: function (errormessage) {
                toastr.error("No Record Select!", "Service Response");
            }
        });
    }

    function book(roomid) {
        $.ajax({
            url: "/api/bookings?roomid=" + roomid,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            datatype: "json",
            success: function (result) {
                $("#bookingid").val(result.id);
                $.each(result, function (key, value) {
                    $("#bookingid").val(value.id);
                    $("#guestid").val(value.id);
                    $('#guestlist').append("<li class='list-group-item'>Name <span class='pull-right' style='color:darkblue'>" + value.name + "</span></li>"
                                         + "<li class='list-group-item'>Name Khmer <span class='pull-right' style='color:darkblue'>" + value.namekh + "</span></li>"
                                         + "<li class='list-group-item'>Gender <span class='pull-right' style='color:darkblue'>" + value.sex + "</span></li>"
                                         + "<li class='list-group-item'>Phone <span class='pull-right' style='color:darkblue'>" + value.phone + "</span></li>"
                                         + "<li class='list-group-item'>Booking Date <span class='pull-right' style='color:darkblue'>" + moment(new Date(value.bookingdate)).format('DD-MMM-YYYY') + "</span></li>"
                                         + "<li class='list-group-item'>Booking No<span class='pull-right' style='color:darkblue'>" + value.bookingno + "</span></li>"
                                         + "<li class='list-group-item'>Total <span class='pull-right' style='color:darkblue'>" + value.total +" $"+"</span></li>"
                                         + "<li class='list-group-item'>Check IN Date <span class='pull-right' style='color:darkblue'>" + moment(new Date(value.checkindate)).format('DD-MMM-YYYY')+ "</span></li>"
                                         + "<li class='list-group-item'>Expire Check In Date <span class='pull-right' style='color:darkblue'>" + moment(new Date(value.expirecheckindate)).format('DD-MMM-YYYY')+ "</span></li>"
                                         
                                           );
                });
            },
            error: function (errormessage) {
                toastr.error("No Record Select!", "Service Response");
            }
        });
    }
    function checkin(roomid) {
        //alert(roomid);
        $.ajax({
            url: "/api/checkinbyroom-v/"+roomid,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            datatype: "json",
            success: function (result) {
                $.each(result, function (key, value) {
                    //alert(value.id);
                    $("#guestid").val(value.guestid);
                    $("#roomid").val(value.roomid);
                    $("#checkinid").val(value.id);
                    $('#guestlist').append("<li class='list-group-item'>Name <span class='pull-right' style='color:darkblue'>" + value.name + "</span></li>"
                                          + "<li class='list-group-item'>Name Khmer <span class='pull-right' style='color:darkblue'>" + value.namekh + "</span></li>"
                                          + "<li class='list-group-item'>Gender <span class='pull-right' style='color:darkblue'>" + value.sex + "</span></li>"
                                          + "<li class='list-group-item'>Phone <span class='pull-right' style='color:darkblue'>" + value.phone + "</span></li>"
                                          + "<li class='list-group-item'>Men <span class='pull-right' style='color:darkblue'>" + value.man + "</span></li>"
                                          + "<li class='list-group-item'>Women <span class='pull-right' style='color:darkblue'>" + value.women + "</span></li>"
                                          + "<li class='list-group-item'>Child <span class='pull-right' style='color:darkblue'>" + value.child + "</span></li>"
                                          + "<li class='list-group-item'>Check In Date <span class='pull-right' style='color:darkblue'>" + moment(new Date(value.checkindate)).format('DD-MMM-YYYY') + "</span></li>"
                                          + "<li class='list-group-item'>Stat Date <span class='pull-right' style='color:darkblue'>" + moment(new Date(value.startdate)).format('DD-MMM-YYYY')  + "</span></li>"
                                          + "<li class='list-group-item'>End Date <span class='pull-right' style='color:darkblue'>" + moment(new Date(value.enddate)).format('DD-MMM-YYYY') + "</span></li>"

                                          );

                });

            },
            error: function (errormessage) {
                toastr.error("No Record Select!", "Service Response");
            }
        });
    }
</script>
