
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="PositionModal" tabindex="-1" role="dialog" aria-labelledby="PositionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" onclick="ClosePostion();" class="btn btn-danger btn-xs pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-center" style="color: darkblue;"><b >@Resources.Content.ManagePosition</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input id="positionid" name="positionid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="positionname">@Resources.Content.Name</label>
                            <input id="positionname" name="positionname" placeholder="Enter Position" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="positionnamekh">@Resources.Content.NameKh</label>
                            <input id="positionnamekh" name="positionnamekh" placeholder="Enter Position Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button type="button" id="btnPosition" onclick="PositionAction()" class="btn btn-info btn-block btn-sm" value="Add">@Resources.Content.AddNew</button>
                        <button type="button" id="btnUpdatePosition" onclick="UpdateAction()" class="btn btn-success btn-block btn-sm">@Resources.Content.Update</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="positionTable">
                            <thead>
                                <tr>
                                    <th>@Resources.Content.No</th>
                                    <th>@Resources.Content.Name</th>
                                    <th>@Resources.Content.NameKh</th>
                                    <th>@Resources.Content.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function ClosePostion() {
        window.location.reload(true);
    }
</script>