
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="StaffModal" tabindex="-1" role="dialog" aria-labelledby="StaffModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" onclick="ClseStaff();" class="btn btn-danger btn-xs pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-center" style="color: darkblue;"><b>@Resources.Content.ManageStaff</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <input id="staffid" name="staffid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="staffname">@Resources.Content.Name</label>
                            <input id="staffname" name="staffname" placeholder="Enter Staff Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="staffnamekh">@Resources.Content.NameKh</label>
                            <input id="staffnamekh" name="staffnamekh" placeholder="Enter Staff Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="sex">@Resources.Content.Sex</label>
                            <select id="sex" name="sex" class="form-control input-sm" style="min-width: 100%">
                                <option value="Male">@Resources.Content.Male</option>
                                <option value="Female">@Resources.Content.Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="phone">@Resources.Content.Phone</label>
                            <input id="phone" name="phone" placeholder="Enter Staff Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="dob">@Resources.Content.DOB</label>
                            <input id="dob" name="dob" placeholder="Enter Staff Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="identityno">@Resources.Content.SSN</label>
                            <input id="identityno" name="identityno" placeholder="Enter Identity No" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <img class="center img-responsive img-thumbnail" id="photo" src="~/Images/no_image.png" style="width:200px;height:200px" />
                        </div>
                        <div class="form-group">
                            <label>@Resources.Content.Photo</label>
                            <input onchange="readURL(this);" type="file" id="file" />
                            <input type="hidden" value="" id="file_old" />
                        </div>
                        <div class="form-group">
                            <label for="position">@Resources.Content.Position</label>
                            <select class="form-control input-sm" id="position">
                                @foreach (var position in Model.Positions)
                                {
                                    <option value=@position.id>@position.positionname</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">@Resources.Content.Email</label>
                            <input id="email" name="email" placeholder="Enter Email" type="email" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="address">@Resources.Content.Address</label>
                            <input id="address" name="address" placeholder="Enter Staff Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnTest" onclick="CloseModalStaff()" class="btn btn-info btn-danger pull-right btn-sm" style="margin-left:10px">@Resources.Content.Cancel</button>
                        <button type="button" id="btnSaveStaff" onclick="SaveStaffAction()" class="btn btn-info pull-right btn-sm" value="Save">@Resources.Content.Save</button>
                        <button type="button" id="btnUpdateStaff" onclick="UpdateStaffAction()" class="btn btn-success pull-right btn-sm" value="Update">@Resources.Content.Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function ClseStaff() {
        window.location.reload(true);
    }
</script>