@model IEnumerable<SCHOOL_MANAGEMENT_SYSTEM.Models.Staff>

@{
    ViewBag.Title = "Manage Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid"> 
    <div class="row">
        <div class="col-md-6">
            <h4 style="color: darkblue;">គ្រប់គ្រងបុគ្គលិក</h4>
        </div>
        <div class="col-md-6">
            <a href="#" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#StaffModal" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> បន្ថែមបុគ្គលិក</a>
            <a href="#" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#PositionModal" style="margin-right:5px;"><span class="glyphicon glyphicon-plus-sign"></span> គ្រប់គ្រងតួនាទី</a>
        </div>
    </div>
    <hr />
    <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tableStaff">
        <thead>
            <tr>
                <th>លេខ</th>
                <th>ឈ្មោះ</th>
                <th>ឈ្មោះជាភាសាខ្មែរ</th>
                <th>ភេទ</th>
                <th>លេខទូរសព្ទ</th>
                <th>ថ្ងៃខែឆ្នាំកំណើត</th>
                <th>អាស័យដ្ឋាន</th>
                <th>អ៊ីម៉ែល</th>
                <th>លេខអត្តសញ្ញាណប័ណ្ណ</th>
                <th>តួនាទី</th>
                <th>ស្ថានភាព</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@Html.Partial("_Position")
@Html.Partial("_Staff")

@section scripts{
    @Scripts.Render("~/Scripts/Functions/positions.js")
    @Scripts.Render("~/Scripts/Functions/staffs.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}
