@model SCHOOL_MANAGEMENT_SYSTEM.Models.PaySlip

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.staff.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.penanty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.penanty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salaryamount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salaryamount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>
    </dl>
    <div class="form-group">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-default btn-sm" })           
        }
    </div>  
</div>
