
<div class="modal fade " data-backdrop="static" data-keyboard="false" id="PaymentModal" tabindex="-1" role="dialog" aria-labelledby="PaymentModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" onclick="OnClosePayment()" class="btn btn-danger btn-xs pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-center" style="color: darkblue;"><b>@Resources.Content.Payment</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="id" name="id" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <input id="chinid" name="chinid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="guestid" name="guestid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="weid" name="weid" type="text" style="display: none;" value="" class="form-control" />
                    <input id="exrate" name="exrate" type="text" style="display: none;" value="" class="form-control" />
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="invoiceno">@Resources.Content.No</label>
                                    <input id="invoiceno" readonly="readonly" name="invoiceno" placeholder="Enter Guest Name" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="guestname">@Resources.Content.Name</label>
                                    <input id="guestname" name="guestname" readonly="readonly" placeholder="Enter Guest Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="room">@Resources.Content.RoomNo</label>
                                    <input id="room" name="room" readonly="readonly" placeholder="Enter Guest Name Khmer" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="roomprice">@Resources.Content.RoomPrice</label>
                                            <input id="roomprice" name="roomprice" readonly="readonly" placeholder="Enter Address" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="servicecharge">@Resources.Content.ServiceCharge</label>
                                            <input id="servicecharge" name="servicecharge" readonly="readonly" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="startdate">@Resources.Content.StartDate</label>
                                            <input id="startdate" readonly="readonly" name="startdate" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="enddate">@Resources.Content.EndDate</label>
                                            <input id="enddate" name="enddate" readonly="readonly" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="wstartrecord">@Resources.Content.WaterStartRecord</label>
                                            <input id="wstartrecord" name="wstartrecord" readonly="readonly" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%;text-align:center" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="wendrecord">@Resources.Content.WEndRecord</label>
                                            <input id="wendrecord" name="wendrecord" onfocus="this.select();" oninput="wendrecordChange();" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%;text-align:center" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="estartrecord">@Resources.Content.ElectricStartRecord</label>
                                            <input id="estartrecord" name="estartrecord" readonly="readonly" placeholder="Enter Phone" type="text" value="" class="form-control input-sm" style="min-width: 100%;text-align:center" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="eendrecord">@Resources.Content.EEndRecord</label>
                                            <input id="eendrecord" onfocus="this.select();" oninput="electricChange();" name="eendrecord" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%;text-align:center" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="totalwater">@Resources.Content.TotalWater</label>
                                            <input id="totalwater" name="totalwater" readonly="readonly" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="totalelectric">@Resources.Content.TotalElectric</label>
                                            <input id="totalelectric" name="totalelectric" readonly="readonly" placeholder="Enter Phone" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="totalpay">@Resources.Content.TotalPayment $</label>
                                    <input id="totalpay" name="totalpay" readonly="readonly" placeholder="Enter Passport Number" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="totalpaykh">@Resources.Content.TotalPaymentRiel</label>
                                    <input id="totalpaykh" name="totalpaykh" readonly="readonly" placeholder="Enter Email" type="email" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="paydollar">@Resources.Content.PayDollar</label>
                                    <input onfocus="this.select();" oninput="OnChangePayDollar()" id="paydollar" name="paydollar" placeholder="$0.00" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                                <div class="form-group">
                                    <label for="payriel">@Resources.Content.PayRiel</label>
                                    <input id="payriel" name="payriel" placeholder="$0.00" type="text" value="0" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="note">@Resources.Content.Note</label>
                            <input id="note" name="note" type="text" value="" class="form-control input-sm" placeholder="Description" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCheckOut" onclick="TestAction();" data-dismiss="modal" class="btn btn-danger btn-sm pull-right" style="margin-left:10px;width:100px">@Resources.Content.Cancel</button>
                <button type="button" id="SavePaymentbtn" onclick="OnPaymentAction()" class="btn btn-info btn-sm pull-right" style="margin-left:10px;width:100px" value="Save">@Resources.Content.Save</button>
                <button type="button" id="UpdatePaymentbtn" onclick="UpdatePaymentAction()" class="btn btn-success btn-sm pull-right" style="margin-left:10px;width:100px" value="Update">@Resources.Content.Update</button>
            </div>
        </div>
    </div>
</div>


<script>
    ///========OnPaymentAction Button====
    function OnPaymentAction() {
        var data = new FormData();
        data.append("grandtotal", $("#totalpay").val());
        data.append("totalriel", $("#totalpaykh").val());
        data.append("totaldollar", $("#totalpay").val());
        data.append("totalother", $("#servicecharge").val());
        data.append("note", $("#note").val());
        data.append("payriel", $("#payriel").val());
        data.append("paydollar", $("#paydollar").val());
        data.append("paid", true);

        $.ajax({
            type: "PUT",
            url: "/api/invoices/" + $("#id").val(),
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                toastr.success("Print Invoice successfully!.", "Server Response");
                window.location = "invoice-report/" + $("#id").val();
            },
            error: function (errormesage) {
                toastr.error("Print invoice faild...!", "Server Respond");

            }
        });
    };

   ///Update Payment
    function UpdatePaymentAction() {
        var data = new FormData();
        data.append("startdate", $('#startdate').val());
        data.append("enddate", $('#enddate').val());
        data.append("wendrecord", $('#wendrecord').val());
        data.append("eendrecord", $('#eendrecord').val());
        $.ajax({
            type: "PUT",
            url: "/api/updateweendrecord/" + $("#weid").val(),
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                OnUdatePaymentAction();
            },
            error: function (errormesage) {
                toastr.error("Electric usage insert faild!", "Server Respond");
                return false;
            }
        });
    }
    function OnUdatePaymentAction() {
        var action = document.getElementById('SavePaymentbtn').innerText;
        var data = new FormData();
        data.append("grandtotal", $("#totalpay").val());
        data.append("totalriel", $("#totalpaykh").val());
        data.append("totaldollar", $("#totalpay").val());
        data.append("totalother", $("#servicecharge").val());
        data.append("note", $("#note").val());
        data.append("payriel", $("#payriel").val());
        data.append("paydollar", $("#paydollar").val());
        data.append("paid", false);


        $.ajax({
            type: "PUT",
            url: "/api/invoices/" + $("#id").val(),
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                toastr.success("Print Invoice successfully!.", "Server Response");
                window.location = "invoice-report/" + $("#id").val();
            },
            error: function (errormesage) {
                toastr.error("Print invoice faild...!", "Server Respond");

            }
        });
    };
    //For Update and Payment Invoice
    function wendrecordChange() {
        var waternewrecord = document.getElementById('wendrecord').value;
        var wateroldrecord = document.getElementById('wstartrecord').value;
        $.ajax({
            url: "/api/ExchangeRates/1/2",
            method: "GET",
            success: function (data) {
                var rate = data.rate;
                var totalwaterusage = ((parseFloat(waternewrecord) - parseFloat(wateroldrecord)) * parseFloat($('#wprice').text())) / parseFloat(rate);
                if (totalwaterusage <= 0) {
                    alert('Faild!');
                    $('#wendrecord').focus();
                } else {
                    $('#totalwater').val(totalwaterusage.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    TotalPay();
                }
            },
            error: function (err) {
                toastr.error("no data record");
            }
        });
    }
    function electricChange() {
        var eend = document.getElementById('eendrecord').value;
        var estart = document.getElementById('estartrecord').value;
        $.ajax({
            url: "/api/ExchangeRates/1/2",
            method: "GET",
            success: function (data) {
                var rate = data.rate;
                var totalelectricusage = ((parseFloat(eend) - parseFloat(estart)) * parseFloat($('#pprice').text())) / parseFloat(rate);
                if (totalelectricusage <= 0) {
                    alert('Faild!');
                    $('#eendrecord').focus();
                } else {
                    $('#totalelectric').val(totalelectricusage.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
                    TotalPay();
                }
            },
            error: function (err) {
                toastr.error("no data record");
            }
        });

    }
    function TotalPay() {
        var totalwaterusage = document.getElementById('totalwater').value;
        var totalpowerusage = document.getElementById('totalelectric').value;
        var roomprice = document.getElementById('roomprice').value;
        var servicecharge = document.getElementById('servicecharge').value;
        var exrate = document.getElementById('exrate').value;
        var grandtotal = parseFloat(totalwaterusage) + parseFloat(totalpowerusage) + parseFloat(roomprice) + parseFloat(servicecharge);
        $('#totalpay').val(grandtotal.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
        $('#totalpaykh').val((grandtotal * parseFloat(exrate)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));


    }

    function OnChangePayDollar() {
        var totalpay = document.getElementById('totalpay').value;
        var paydollar = document.getElementById('paydollar').value;
        var exrate = document.getElementById('exrate').value;
        var paykh = (parseFloat(totalpay) - parseFloat(paydollar)) * parseFloat(exrate);
        $('#payriel').val(paykh.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'));
    }

    function OnClosePayment() {
        window.location.reload(true);
    }
</script>
  