
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="WEPriceModel" tabindex="-1" role="dialog" aria-labelledby="WEPriceModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="LoadingGif"></div>
            <div class="modal-header">
                <button type="button" onclick="CloseWE();" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-center" style="color: darkblue"><b>@Resources.Content.ManageWEPrice</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="wepid" name="wepid" type="text" value="" class="form-control input-sm hidden" />
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="waterprice">@Resources.Content.WaterPrice</label>
                            <input onfocus="this.select();" id="waterprice" name="waterprice" type="number" value="0" class="form-control input-sm" placeholder="Enter Rate's Price'" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="electricprice">@Resources.Content.ElectricPrice</label>
                            <input onfocus="this.select();" id="electricprice" name="electricprice" type="number" value="0" class="form-control input-sm" placeholder="Enter Rate's Price'" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnAddWE" onclick="AddNew();" class="btn btn-primary btn-block btn-sm pull-right" style="width:100px"><span class='glyphicon glyphicon-plus'></span>  @Resources.Content.AddNew</button>
                        <button type="button" id="btnSaveWE" onclick="SaveWaterEletric();" class="btn btn-info btn-block btn-sm pull-right" style="display:none;width:100px"><span class='glyphicon glyphicon-save'></span>  @Resources.Content.Save</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="tableWEPrice" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>@Resources.Content.No</th>
                                    <th>@Resources.Content.Date</th>
                                    <th>@Resources.Content.WaterPrice</th>
                                    <th>@Resources.Content.ElectricPrice</th>
                                    <th>@Resources.Content.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    @Scripts.Render("~/Scripts/Functions/weprice.js")
}