
@{
    ViewBag.Title = "Manage Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="loadingGif"></div>
<ul class="nav nav-tabs">
    <li class="active"><a href="#printinvoice" data-toggle="tab">ចេញវិក័យបត្រ</a></li>
    <li  ><a href="#home" data-toggle="tab">បង់ប្រាក់ប្រចាំខែ</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="printinvoice">
        <br />
        <table id="tablePrintInvoice" style="width:100%" class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>លេខ</th>
                    <th>ឈ្មោះ</th>
                    <th>ថ្ងៃចូលស្នាក់នៅ</th>
                    <th>បន្ទប់លេខ</th>
                    <th>ប្រភេទបន្ទប់</th>
                    <th>សេវា</th>
                    <th>តម្លៃបន្ទប់</th>
                    <th>បង់ប្រាក់ខែថ្មី</th>
                    <th style="width:15%">សកម្មភាព</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="tab-pane fade " id="home">
        <br />
        <div class="row">
            <div class="col-md-2">
                <label>កាលបរិច្ឆេទ</label>
                <input id="date" name="date" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" placeholder="Enter Payment Date" />
            </div>
            <div class="col-md-2">
                <label>ស្ថានភាព</label>
                <div class="form-group">
                    <select class="form-control input-sm" id="guestidchin">
                        <option value="">----ទាំងអស់----</option>
                        <option value="">បង់រួច</option>
                        <option value="">មិនទាន់បង់</option>
                    </select>
                </div>
            </div>
        </div>
        <table id="InvoiceTable" style="width:100%" class="table table-hover table-bordered">
            <thead>
                <tr>
                    @*<th>ID</th>*@
                    <th style="width:3%">លេខវិក្ក័យបត្រ</th>
                    <th>កាលបរិច្ឆេទ</th>
                    <th>ភ្ញៀវ</th>
                    <th>បន្ទប់</th>
                    <th>តម្លៃបន្ទប់</th>
                    <th>ប្រើប្រាសទឹក$</th>
                    <th>ប្រើប្រាស់ភ្លើង$</th>
                    <th>សរុប($)</th>
                    <th>បង់ជា(៛)</th>
                    <th>បង់ជា​($)</th>
                    <th>ជំពាក់</th>
                    <th>បង់រួច</th>
                    <th style="width:5%">ស្ថានភាព</th>
                    <th>សកម្មភាព</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    
</div>



@Html.Partial("_Payment")
@Html.Partial("_PrintNewInvoice")


@section scripts
{
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/Functions/invoice.js")
    @Scripts.Render("~/Scripts/Functions/pirntinvoice.js")  
}








