
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h4 style="color: darkblue;"><b>@Resources.Content.ManageGuest</b></h4>
        </div>
    </div>
    <hr />
    <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tableGuest">
        <thead>
            <tr>
                <th>@Resources.Content.No</th>
                <th>@Resources.Content.Name</th>
                <th>@Resources.Content.NameKh</th>
                <th>@Resources.Content.Sex</th>
                <th>@Resources.Content.DOB</th>
                <th>@Resources.Content.Address</th>
                <th>@Resources.Content.Phone</th>
                <th>@Resources.Content.Email</th>
                <th>@Resources.Content.Status</th>
                <th style="width:25px">@Resources.Content.Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
@Html.Partial("_History")
@Html.Partial("_Guest")
@section scripts{
    
    @Scripts.Render("~/Scripts/Functions/guest.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}
