
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="StaffSalaryModal" tabindex="-1" role="dialog" aria-labelledby="StaffSalaryModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" onclick="CloseStaffSalary()" class="btn btn-danger btn-xs pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
                <h4 class="modal-title text-center" style="color: darkblue;"><b>@Resources.Content.Salary</b></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="salaryid" name="salaryid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="staffid">@Resources.Content.Staff</label>
                            <select class="form-control input-sm" id="staffid">
                                <option value="">---Please select staff----</option>
                                @foreach (var item in Model.StaffList)
                                {
                                    <option value=@item.id>@item.name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="salary">@Resources.Content.Salary</label>
                            <input id="salary" name="salary" placeholder="Enter Position" type="number" value="0" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="note">@Resources.Content.Note</label>
                    <input id="note" name="note" placeholder="Enter Position" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                </div>
             </div>
            <div class="modal-footer">
                <button type="button" id="btnSaveManageSalary" onclick="SaveManageSalary();" class="btn btn-info btn-block btn-sm">@Resources.Content.Save</button>
                <button type="button" id="btnUpdateSalary" onclick="UpdateSalaryd();" class="btn btn-success btn-block btn-sm">@Resources.Content.Update</button>
            </div>
        </div>
    </div>
</div>